.auth-card {
    margin: 30px auto;
    max-width: 400px;
    min-width: 140px;
}

.formFieldContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    margin-top: 12px;
}

.buttonContainer button {
    margin-right: 8px;
}